---
---
:root {
	--primary-color: #40dae0;
	--dark-primary-color: #00585c;
	--darkish-primary-color: #057f84;
	--highlighted-color: #7eeee9;
	// --highlighted-color: #00ffe7;
	--background-color: #aef6ff;
	// --section-background-color: #71e2d1;
	--section-background-color: var(--primary-color);
	--input-background-color: #7eeee9;
	--input-color: #30b0d0;
	--text-color: #222;
}
* {
	position: relative;
}
body {
	accent-color: var(--darkish-primary-color);
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
	margin: 0;
	min-height: 100vh;
}
header {
	background-color: var(--primary-color);
	padding: 10px;
	a {
		display: inline-block;
		text-decoration: none;
		padding: 10px 10px 3px;
	}
	img {
		filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3))
	}
	h1 {
		color: var(--text-color);
		display: inline-block;
		margin: 0 10px;
	}
}
h1, h2, h3, h4, h5, h6, summary {
	font-family: 'Raleway', sans-serif;
}
h1 {
	font-size: 50px;
}
header>a:hover {
	background-color: var(--highlighted-color);
}
header, footer {
	text-align: center;
}
main {
	flex-grow: 1;
}
section, article, details {
	background-color: var(--section-background-color);
	color: var(--text-color);
	max-width: 700px;
	margin: 15px auto;
	padding: 10px;
}
h2, summary {
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 15px 0;
}
a#input-link {
	content: url(/assets/link-variant.svg);
	float: right;
	margin-top: 4px;
	margin-right: 4px;
}
textarea {
	background-color: var(--input-background-color);
	color: var(--input-color);
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	padding: 3px;
	width: calc(100% - 6px);
}
a {
	color: var(--dark-primary-color);
}
a:hover {
	color: var(--darkish-primary-color);
}
.comparison-container {
	display: flex;
	justify-content: space-around;
	margin: 0 1px;
	text-align: center;
	> div {
		flex: 1 1 0;
	}
	> div:not(:first-child) {
		border-left: var(--background-color) 2px solid;
	}
}
#mean-math {
	border-top: var(--background-color) 2px solid;
	overflow: hidden;
	text-align: left;
	math:nth-child(2) {
		margin-left: clamp(0px, 5ex, calc(100% - 150px));
	}
}
#mode-pluralizer {
	display: none;
}
.about-link {
	position: absolute;
	font-size: 60%;
	margin: 3px 0 0 4px;
}
.result-container {
	display: flex;
	width: 100%;
	canvas {
		position: absolute;
		height: 100%;
		width: 100%;
	}
	> div {
		flex: 1 1 0;
	}
}
.list {
	font-size: 135%;
	position: unset;
	div {
		margin: 0 8px;
		max-width: 110px;
		overflow: hidden;
		padding: 1px;
		text-overflow: ellipsis;
	}
}
.highlighted, .answer {
	background-color: var(--highlighted-color);
}
.answer {
	font-size: 200%;
	margin: 25px 8px auto;
}
math {
	display: block;
	font-size: 170%;
}
mfrac {
	text-align: center;
}
footer {
	background-color: var(--primary-color);
	color: var(--text-color);
	padding: 15px;
}
@media (prefers-color-scheme: dark) {
	:root {
		--highlighted-color: var(--darkish-primary-color);
		--background-color: #283840;
		--section-background-color: #30404D;
		--input-background-color: var(--dark-primary-color);
		--input-color: #aef6ff;
		--text-color: #EEE;
	}
	header, footer {
		background-color: var(--dark-primary-color);
	}
	a {
		color: var(--primary-color)
	}
	a:hover {
		color: #aef6ff
	}
	a#input-link {
		content: url(/assets/link-variant-white.svg);
	}
}