---
---
:root {
	--primary-color: #40e2d0;
	--background-color: #aefff6;
	// --section-background-color: #71e2d1;
	--section-background-color: var(--primary-color);
	--input-background-color: #beeee9;
	--text-color: #222;
}
body {
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	margin: 0;
	min-height: 100vh;
}
header {
	background-color: var(--primary-color);
	padding: 10px;
	a {
		text-decoration: none;
	}
	h1 {
		color: var(--text-color);
		display: inline-block;
		margin: 0;
		padding: 10px;
	}
}
h1 {
	font-size: 50px;
}
header, footer {
	text-align: center;
}
main {
	flex-grow: 1;
}
section, article, details {
	background-color: var(--section-background-color);
	color: var(--text-color);
	max-width: 700px;
	margin: 15px auto;
	padding: 10px;
}
h2, summary {
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 15px 0;
}
textarea {
	background-color: var(--input-background-color);
	font-family: sans-serif;
	font-size: 24px;
	width: 100%;
}
.comparison-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.result-container {
	display: flex;
	width: 100%;
}
footer {
	background-color: var(--primary-color);
	padding: 15px;
}
@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #EEE;
		--background-color: #283840;
		--section-background-color: #30404D;
	}
}